h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.red_text {
    color:red;
}

.blue_text {
    color:blue;
}

#l-align {
    text-align: left;
    border: 1px solid black;
    color: cornsilk;
    background-color: cornflowerblue;
}

#c-align {
    text-align: center;
   
}

#r-align {
    text-align: right;
    
}

html, body {
    background-color:lavender;
}

.pure-u-1-3 img {
    width: 33vw;
    height: 10vw;
}